[Unit]
Description=Barilo JS Backend Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/barilo/services/barilo-api
ExecStart=bun run start
Restart=on-failure

[Install]
WantedBy=multi-user.target