[Unit]
Description=Barilo JS Backend Server
After=network.target

[Service]
Environment=OPENAI_API_KEY=$OPENAI_API_KEY
Type=simple
WorkingDirectory=/root/barilo/services/barilo-api/src
ExecStart=/root/.bun/bin/bun run server.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target