PATH_add bin
export GOBIN=$PWD/bin
export GOPATH=~/go
export KUBECONFIG=/Users/psantos/src/hornexcode/.kubeconfig
export PATH="/Users/psantos/src/hornexcode/hornex/devops/scripts:${PATH}"
export PATH="${GOPATH}/bin:${PATH}"
export PYTHONPATH="/Users/psantos/Library/Caches/pypoetry/virtualenvs/barilo-UJ1gaT41-py3.12/bin"