WHATSAPP_API_TOKEN=

OPENAI_API_KEY=

GEMINI_API_KEY=

VAULT_TOKEN=
VAULT_PATH=
VAULT_ADDRESS=

NAMESPACE=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

AGOLIA_WRITE_API_KEY=

GOOGLE_MAPS_API=