WHATSAPP_API_TOKEN=whatsapp-api-token

OPENAI_API_KEY=open-api-key

GEMINI_API_KEY=gemini-api-key

VAULT_TOKEN="changeme"
VAULT_PATH="/secret"
VAULT_ADDRESS="http://0.0.0.0:8300"

JAEGER_SERVICE_NAME="todo-api"
JAEGER_ENDPOINT="http://localhost:14268/api/traces"