[Unit]
Description=Barilo JS Frontend App
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/barilo/services/barilo-web/.next/standalone
ExecStart=/root/.nvm/versions/node/v18.12.1/bin/node server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target